@import "src/style/var";


:global{
  .hero{
    text-align: center;
    padding: 40px 0;
    .container{
      max-width: 550px;
      @include lg{
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
      }
    }
    h1{
      margin-bottom: 30px;
    }
    .description{
      margin-bottom: 16px;
    }
    .link{
      display: block;
      margin-bottom: 10px;
      word-wrap: break-word;
      color: $blue;
      text-decoration: underline;
    }
    button{
      border: 0;
      font-size: 0;
      background: transparent;
    }
    picture{
      display: flex;
      align-items: center;
    }
    .col{
      @include lg{
        width: 47%;
      }
    }
    #player{
      height: 0;
      padding-bottom: 56%;
      position: relative;
      @include lg{
        padding-bottom: 27%;
      }
      iframe, picture{
        max-height:280px;
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }
  }
}